@import "@assets/styles/variables.scss";

#header {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 10px 20px;
    }
    h1 {
        margin-right: 30px;
        @media screen and (max-width: 768px) {
            margin: 0px;
            margin-bottom: 10px;
        }
    }
}
